<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mybatispractice.mapper.CompanyMapper">
    <select id="findAll" parameterType="hashMap" resultType="hashMap">
        SELECT * FROM company
        <where>
            <if test="id!=null">
                AND id=#{id}
            </if>
        </where>
    </select>
</mapper>